body{
    background: #e6e6e6;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    text-align: center;
}

img{
    border-radius: 20px;
    margin-right: 25px;
}

a{
    color: #b10f0f;
    font-weight: 800;
    padding: 10px;
    cursor: pointer;
}

input[type=text]{
    width: 23vw;
}

form{
    background: white;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 20px;
    width: 40%
}



.navPanel{
    background: white;
    text-align: center;
    width: 100%!important;
    padding-top: 10px;
    margin-bottom: 30px;
}

.navHeader{
    font-size: 400%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.navBar{
    display: inline-block;
    font-size: 125%;
    margin-top: 20px;
    margin-bottom: 10px;
}



.servicesHome{
    margin-left: 10%;
    margin-right: 10%;
    display: flex-box;
}

.servicesFloat{
    background-color: #ffffff;
    border-radius: 20px;
    filter:drop-shadow(0 0 0.05rem #000000);
    margin-bottom: 50px;
    padding: 25px;
}

.servicesFloatHeader{
    font-size: 400%;
    margin-top: 20px;
    margin-bottom: 40px;
}



.demosHome{
    margin-left: 10%;
    margin-right: 10%;
    display: flex-box;
}

.demoLinkButton{
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 20vw;
    height: 8vh;
}

.pleasantClock{
    display: flex; 
    padding: 25px;
    background-color: #ffffff;
    border-radius: 20px;
    filter:drop-shadow(0 0 0.05rem #000000);
    margin-bottom: 50px;
}

.retroCalculator{
    display: flex; 
    padding: 25px;
    background-color: #ffffff;
    border-radius: 20px;
    filter:drop-shadow(0 0 0.05rem #000000);
    margin-bottom: 50px;
}

.sketchPad{
    display: flex; 
    padding: 25px;
    background-color: #ffffff;
    border-radius: 20px;
    filter:drop-shadow(0 0 0.05rem #000000);
    margin-bottom: 50px;
}